iniconfig==2.3.0
markdown-it-py==4.2.0
mdurl==0.1.2
packaging==26.3
pluggy==1.6.0
pyfiglet==1.0.4
Pygments==2.21.0
pytest==9.1.1
readchar==4.2.2
rich==15.0.0
ruff==0.16.7
prompt-toolkit==3.0.53
wcwidth==0.8.3
blessed==1.50.0
pytest-cov==7.1.0
jinxed==2.1.0
coverage==7.16.1
